@using MVP.Infra.Enums;
@using MVP.Shared.DTOs.Tickets;
<!-- CreateTicketModal.razor -->
<div class="modal fade @(IsVisible ? "show" : "")" style="display: @(IsVisible ? "block" : "none")">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ModalTitle</h5>
                <button type="button" class="close" @onclick="HideModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@Ticket" OnValidSubmit="CreateTicket">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <label>Title</label>
                        <InputText @bind-Value="@Ticket.Title" class="form-control" />
                        <ValidationMessage For="@(() => Ticket.Title)" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <InputTextArea @bind-Value="@Ticket.Description" class="form-control" />
                        <ValidationMessage For="@(() => Ticket.Description)" />
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade @(IsVisible ? "show" : "")" style="display: @(IsVisible ? "block" : "none")"></div>

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    [Parameter]
    public EventCallback<TicketDTO> OnTicketCreated { get; set; }

    [Parameter]
    public TicketDTO Ticket { get; set; } = new TicketDTO();

    string ModalTitle => Ticket.Id == 0 ? "Add Ticket" : "Edit Ticket";

    void HideModal()
    {
        IsVisible = false;
    }

    async Task CreateTicket()
    {
        Ticket.StatusId = (int)TicketStatusEnum.Pending;

        await OnTicketCreated.InvokeAsync(Ticket);
    }
}
